/*Estilo nuevo
    Michelle V. L 20/03/26
*/
header {color:mediumorchid}
h1{color:rosybrown}
p{color:fuchsia}

.rosita {
   color:plum;
   font_weight:bold;
   font-size:14
}

.morado {
    text-align:center;
    color: mediumorchid;
    font-family:Sylfaen
    
}

